/* .div {
  /* Add styles for the div if needed 
} */

.nav {
  display: flex;
  background-color: #8bb6e6;
  justify-content: space-between;
  width: 100%;
  margin-right: 50%;
  overflow: hidden;
  top: 0%;
  position: fixed;
  height: 60px;
  border-radius: 12px;

  /* color:white; */
}

.nav ul {
  list-style-type: none;
  padding: 3px;
  display: flex;
}

.nav ul li {
  margin-left: 20px;
  gap: 10px;
  float: right;
  font-size: 20px;
}

.search {
  height: 25px;
  border-radius: 10px;
  margin-left: 40px;
  width: 460px;
  outline: none;
  background-color:white;
  border: 2px solid rgb(19, 18, 18); /* Add or modify this line to change border color */
}

.search::placeholder {
  color: rgba(11, 11, 11, 0.7); /* Change this color as needed */
}

.navimg {
  padding: 0 10px;
  width: 15px;
}
.b1{
  background-color: transparent;
  outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    cursor: pointer;
    font-size: large;
}
.b1:hover{
  background-color:  #4f9df6;
}
.lgo{
  height: 30px;
  width: 90px;
  margin-left: 800px;
  margin-bottom: 0%;
}